.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(left , rgb(163, 78, 114) 22% , rgb(114, 57, 244) 96%);
background: -o-linear-gradient(left , rgb(163, 78, 114) 22% , rgb(114, 57, 244) 96%);
background: -ms-linear-gradient(left , rgb(163, 78, 114) 22% , rgb(114, 57, 244) 96%);
background: -moz-linear-gradient(left , rgb(163, 78, 114) 22% , rgb(114, 57, 244) 96%);
background: -webkit-linear-gradient(left , rgb(163, 78, 114) 22% , rgb(114, 57, 244) 96%);






}